body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #f7f4f1;
    text-transform: uppercase;

    background: #000 url(../img/background.jpg) no-repeat top center;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-page,
.card-page {
    color: #000;
    
    background: #fffcf9 url(../img/pattern-light.jpg) repeat 0 0;
}

.catalog-page {
    line-height: 18px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.navigation-wrapper {
    background-color: #000;
    width: 100%;

    margin-bottom: 60px;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation .container {
    display: flex;
    justify-content: space-between;
}

.main-logo {
    order: 1;

    margin-bottom: 75px;
}

.website-navigation,
.user-navigation {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.website-navigation a,
.user-navigation a {
    display: block;
    padding: 25px 20px;
    
    color: #fff;
}

.website-navigation a:hover,
.website-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.user-navigation .login-link {
    position: relative;
    
    padding-left: 50px;
}

.login-link::before {
    content: "";
    
    position: absolute;
    left: 24px;
    top: 27px;

    width: 14px;
    height: 14px;

    background-image: url(../img/login-icon.svg);
    opacity: .3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;
}

.features {
    margin-bottom: 80px;
}

.feature-list {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;
}

.feature-item {
    width: 300px;

    text-align: center;
}

.feature-item h3 {
    position: relative;
    
    margin: 0;
    margin-bottom: 60px;
    
    font-size: 30px;
    line-height: 42px;
}

.feature-item h3::after {
    content: "";

    position: absolute;
    width: 20px;
    height: 20px;

    left: 50%;
    margin-left: -10px;
    bottom: -30px;

    background-color: #f7f4f1;
    transform: rotate(45deg)
}

.feature-item p {
    margin: 0 10px;
    padding: 0;
}

.main-row {
    display: flex;
    justify-content: space-between;

    padding: 50px 80px;
    margin-bottom: 35px;

    color: #000;
    background: 
        url(../img/shadow-separator.png) no-repeat center,
        #f8f5f2 url(../img/pattern-light.jpg) repeat 0 0;
}

.main-row h2 {
    margin: 0;
    margin-bottom: 25px;
    
    font-size: 30px;
    line-height: 42px;
}

.news, .contact-info {
    width: 380px;
}

.photo-gallery, .appointment-info {
    width: 300px;
}

.news-list {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;;
    
    list-style: none;
}

.news-item {
    margin-bottom: 25px;
}

.news-item p {
    margin: 0;
}

.news-item time {
    text-transform: none;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    margin-right: 16px;
    
    font: inherit;

    color: #fff;
    text-transform: inherit;

    background-color: #000;
    border: none;
}

.btn:hover,
.btn:focus {
    background-color: #663d15;
}

.btn:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000;
}

.gallery-content {
    margin: 0;
    height: 164px;

    background-color: #e5e5e5;
    border: 6px solid #fff;
}

.gallery-container {
    position: relative;
    height: 260px;
}

.gallery-btn {
    position: absolute;
    margin: 0;

    box-sizing: border-box;
    width: 140px;

    bottom: 0;
}

.gallery-btn-next {
    right: 0;
}

.gallery-btn-prev {
    left: 0;
}

.contact-info p {
    margin: 0;
    margin-bottom: 25px;
}

.appointment-info p {
    margin: 0;
    margin-bottom: 15px;
}

.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-item {
    margin: 0;
    margin-bottom: 10px;
}

.appointment-input-group {
    width: 140px;
}

.appointment-input-group label {
    display: block;
    margin-left: 15px;
    margin-bottom: 9px;
}

.appointment-input-group input {
    box-sizing: border-box;
    width: 140px;
    padding: 8px 15px 7px;
    
    font: inherit;

    text-transform: inherit;

    background-color: transparent;
    border: 2px solid #000;
}

.appointment-input-group input:focus {
    border-color: #663d15;
    outline: none;
}

.appointment-form .btn {
    margin: 0;
    margin-top: 10px;
    width: 100%;
}

.main-footer {
    display: flex;

    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    
    color: #fff;
    line-break: 24px;

    background: #202020 url(../img/pattern-dark.jpg) repeat 0 0;
}

.main-footer .container {
    display: flex;
}

.footer-contact-info {
    margin: 0;
    margin-right: 80px;

    width: 320px;
}

.footer-contact-info a {
    color: #fff;
    text-decoration: underline;
}

.footer-contact-info a:hover,
.footer-contact-info a:focus {
    text-decoration: none;
}

.footer-social {
    margin: 0;
    margin-right: auto;

    width: 145px;
    
    text-align: center;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 141px;

    margin: 0;
    margin-top: 15px;
    padding: 0;

    list-style: none;
}

.footer-social a {
    color: #fff;   
}

.btn-social {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 43px;
    height: 43px;

    background-color: #000;
}

.btn-social:hover,
.btn-social:focus,
.btn-social:active {
    background-color: #fff;
}

.btn-social:hover path,
.btn-social:focus path,
.btn-social:active path {
    fill: #000;
}

.footer-copyright {
    margin: 0;

    width: 150px;

    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
    margin-top: 15px;
}

.footer-copyright .btn:hover,
.footer-copyright .btn:focus {
    background-color: #fff;
    color: #000;
}

.modal-overlay {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal {
    color: #000;
    line-height: auto;
    
    background: #f8f5f2 url(../img/pattern-light.jpg) repeat 0 0;
    z-index: 2;
}

.modal h2 {
    margin: 0;
    margin-bottom: 20px;
    
    font-size: 30px;
}

.modal p {
    margin: 0;
    margin-bottom: 10px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: -34px;
    
    background-color: transparent;
    border: none;

    width: 22px;
    height: 22px;

    font-size: 0;
}

.modal-close::before, .modal-close::after {
    content: "";
    
    position: absolute;
    left: 2px;
    top: 10px;

    height: 3px;
    width: 19px;
    
    background-color: #d0d0d0;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-login {
    display: none;

    position: fixed;
    top: 120px;
    left: 50%;
    margin-left: -230px;

    width: 300px;
    padding: 50px 80px 60px;

    box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
}

.modal-map {
    display: none;
    
    position: fixed;
    top: 50%;
    left: 50%;

    padding: 5px;
    margin-top: -280px;
    margin-left: -390px;

    height: 563px;
}

.modal-map p {
    margin: 0;
}

.user-options {
    display: flex;
    justify-content: space-between;
}

.user-options input[type="checkbox"] + label {
    position: relative;
    margin-left: 30px;
}

.user-options input[type="checkbox"] + label::before {
    content: "";

    position: absolute;
    left: -30px;

    width: 18px;
    height: 18px;
    border: 2px solid #000;
}

.user-options input[type="checkbox"]:checked + label::before {
    background: url(../img/cross.svg) no-repeat center;
}

.login-form input,
.login-form input {
    font: inherit;

    text-transform: inherit;

    background-color: transparent;
    border: 2px solid #000;

    box-sizing: border-box;
    width: 100%;

    padding: 10px 15px;
    padding-right: 40px;
}

.login-form input:focus {
    border-color: #663d15;
    outline: none;
}

.login-form input[type="checkbox"]:hover + label,
.login-form input[type="checkbox"]:focus + label {
    color: #663d15;
}

.login-icon-user {
    background: url(../img/login-icon-dark.svg) no-repeat 270px center;
}

.password-icon-user {
    background: url(../img/password-icon.svg) no-repeat 270px center;
}

.restore-user-credentials {
    color: #000;
    text-decoration: underline;
}

.restore-user-credentials:hover, 
.restore-user-credentials:focus {
    text-decoration: none;
}

.modal-login .btn {
    margin-right: 0;
    box-sizing: border-box;
    width: 100%;
}

.modal-show {
    display: block;
}

.card-page .main-navigation,
.catalog-page .main-navigation {
    background-color: #000;

    margin-bottom: 55px;
}

.catalog-page .main-navigation .container,
.card-page .main-navigation .container {
    justify-content: flex-start;
}

.catalog-page .user-navigation,
.card-page .user-navigation {
    margin-left: auto;
}

.inner-logo {
    padding: 20px;
}

.page-title {
    margin: 0;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    display: flex;
    
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    
    list-style: none;
    line-height: 20px;
}

.breadcrumbs li {
    position: relative;
    padding-right: 40px;
}

.breadcrumbs li:not(.breadcrumbs-current)::after {
    content: "";

    position: absolute;
    width: 8px;
    height: 8px;
    
    background-color: #000;
    right: 15px;
    top: 5px;

    transform: rotate(45deg)
}

.breadcrumbs a {
    color: #000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs-current a {
    color: #aba9a7;
}

.catalog-wrapper {
    display: flex;
}

.filters {
    width: 220px;
}

.filter-form fieldset {
    border: none;
    padding: 0;
    margin-bottom: 45px;
}

.filter-form legend {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 25px;
}

.filter-form ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-option {
    margin-bottom: 19px;
    margin-left: 45px;
}

.filter-option input + label {
    position: relative;
}

.filter-option input + label::before {
    content: "";

    position: absolute;
    left: -45px;
    top: -2px;

    width: 18px;
    height: 18px;

    border: 2px solid #000;
}

.filter-option input[type="checkbox"]:checked + label::before {
    background: url(../img/cross.svg) no-repeat center;
}

.filter-option input[type="radio"] + label::before {
    border: 2px solid #000;
    border-radius: 50%;
}

.filter-option input[type="radio"]:checked + label::after {
    content: "";

    position: absolute;
    left: -39px;
    top: 5px;

    width: 9px;
    height: 9px;

    background-color: #000;
    border-radius: 50%;
}

.filter-option input:hover + label,
.filter-option input:focus + label {
    color: #663d15;
}

.filter-option input:disabled + label {
    color: #000;
    opacity: .5;
}

.catalog {
    width: 700px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    list-style: none;
}

.catalog-item a p {
    margin: 0;
    margin-bottom: 15px;
}

.catalog-item a {
    display: flex;
    flex-direction: column;
}

.catalog-item h3 {
    order: 1;
    margin: 0 15px;
    margin-bottom: 15px;
}

.catalog-item {
    box-sizing: border-box;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 15px 0;

    background-color: #fff;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item-category {
    text-transform: none;
    display: block;
    margin-bottom: 5px;
}

.catalog-item-category,
.catalog-item-title,
.product-item-preview {
    color: #000;
}

.catalog-item-price {
    display: flex;
    margin: 0 15px;
}

.catalog-item-price .btn {
    margin-right: 0;
    padding: 13px 20px 11px;
}

.catalog-item-price b {
    flex-grow: 1;
    padding: 13px 25px 11px;
}

.catalog-item-price b,
.product-price b {
    text-align: center;

    background-color: #e5e5e5;
}

.pagination-list {
    display: flex;
    
    margin: 0;
    padding: 0;

    list-style: none;
}

.pagination-item {
    margin-right: 5px;
}

.pagination-item a {
    padding: 15px 20px;
    
    color: #fff;
    background-color: #000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: #663d15;
}

.pagination-item-current a {
    color: #000;
    
    background-color: #fff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    background-color: #fff;
}

.catalog-page .main-footer {
    margin-top: 50px;
}

.product-item-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-photos {
    width: 460px;
}

.product-photos p {
    margin: 0;
    padding: 0;
}

.product-photos ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.preview-list {
    display: flex;
    justify-content: space-between;
}

.product-article {
    text-align: right;
    color: #aeaeae;
}

.product-photos img {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    vertical-align: bottom;
}

.product-photos p {
    margin: 0;
}

.full-image {
    margin-bottom: 20px;;
}

.product-description {
    width: 390px;
}

.product-description ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-description li {
    position: relative;
    
    padding-left: 20px;
}

.product-description li::before {
    content: "";

    position: absolute;
    left: 0;
    top: 7px;
    width: 8px;
    height: 8px;

    background-color: #000;
    transform: rotate(45deg);
}

.short-info-wrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: 30px;
}

.short-info-wrapper p {
    margin-bottom: 0;
}

.product-text {
    margin-bottom: 35px;
}

.product-price {
    margin-bottom: 65px;
}

.product-price b {
    display: inline-block;
    margin-right: -3px;
    padding: 10px 40px;
}

.product-description h3 {
    margin: 0;
}
